.productList {
    list-style: none;
    padding: 0;
}

.productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 0;
    background: #f9f9f9;
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.productInfo {
    flex: 1;
}

.productActions {
    display: flex;
    gap: 0.5rem;
}

.category {
    background: #e0e0e0;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.condition {
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    color: white;
}

.conditionSelect {
    background: rgb(81, 202, 218);
}

.new {
    background: #d2bc9a;
}

.likenew {
    background: #2196f3;
}

.good {
    background: #4caf50;
}

.fair {
    background: #f44336;
}

.poor {
    background: #710755;
}

.deleteButton {
    background: #342221;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover {
    background: #d32f2f;
}